<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="model.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_title" property="taskTitle" jdbcType="VARCHAR" />
    <result column="task_decription" property="taskDecription" jdbcType="VARCHAR" />
    <result column="problem_square_id" property="problemSquareId" jdbcType="INTEGER" />
    <result column="pulisher_id" property="pulisherId" jdbcType="INTEGER" />
    <result column="pulish_time" property="pulishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, task_title, task_decription, problem_square_id, pulisher_id, pulish_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.TaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.TaskExample" >
    delete from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.Task" useGeneratedKeys="true" keyProperty="id">
    insert into task (id, task_title, task_decription, 
      problem_square_id, pulisher_id, pulish_time
      )
    values (#{id,jdbcType=INTEGER}, #{taskTitle,jdbcType=VARCHAR}, #{taskDecription,jdbcType=VARCHAR}, 
      #{problemSquareId,jdbcType=INTEGER}, #{pulisherId,jdbcType=INTEGER}, #{pulishTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.Task" useGeneratedKeys="true" keyProperty="id">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskTitle != null" >
        task_title,
      </if>
      <if test="taskDecription != null" >
        task_decription,
      </if>
      <if test="problemSquareId != null" >
        problem_square_id,
      </if>
      <if test="pulisherId != null" >
        pulisher_id,
      </if>
      <if test="pulishTime != null" >
        pulish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskTitle != null" >
        #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskDecription != null" >
        #{taskDecription,jdbcType=VARCHAR},
      </if>
      <if test="problemSquareId != null" >
        #{problemSquareId,jdbcType=INTEGER},
      </if>
      <if test="pulisherId != null" >
        #{pulisherId,jdbcType=INTEGER},
      </if>
      <if test="pulishTime != null" >
        #{pulishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.TaskExample" resultType="java.lang.Integer" >
    select count(*) from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskTitle != null" >
        task_title = #{record.taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDecription != null" >
        task_decription = #{record.taskDecription,jdbcType=VARCHAR},
      </if>
      <if test="record.problemSquareId != null" >
        problem_square_id = #{record.problemSquareId,jdbcType=INTEGER},
      </if>
      <if test="record.pulisherId != null" >
        pulisher_id = #{record.pulisherId,jdbcType=INTEGER},
      </if>
      <if test="record.pulishTime != null" >
        pulish_time = #{record.pulishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task
    set id = #{record.id,jdbcType=INTEGER},
      task_title = #{record.taskTitle,jdbcType=VARCHAR},
      task_decription = #{record.taskDecription,jdbcType=VARCHAR},
      problem_square_id = #{record.problemSquareId,jdbcType=INTEGER},
      pulisher_id = #{record.pulisherId,jdbcType=INTEGER},
      pulish_time = #{record.pulishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.Task" >
    update task
    <set >
      <if test="taskTitle != null" >
        task_title = #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskDecription != null" >
        task_decription = #{taskDecription,jdbcType=VARCHAR},
      </if>
      <if test="problemSquareId != null" >
        problem_square_id = #{problemSquareId,jdbcType=INTEGER},
      </if>
      <if test="pulisherId != null" >
        pulisher_id = #{pulisherId,jdbcType=INTEGER},
      </if>
      <if test="pulishTime != null" >
        pulish_time = #{pulishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Task" >
    update task
    set task_title = #{taskTitle,jdbcType=VARCHAR},
      task_decription = #{taskDecription,jdbcType=VARCHAR},
      problem_square_id = #{problemSquareId,jdbcType=INTEGER},
      pulisher_id = #{pulisherId,jdbcType=INTEGER},
      pulish_time = #{pulishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="searchTaskByProblemSquareId" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from task
    where problem_square_id = #{problemSquareId,jdbcType=INTEGER}
    order by pulish_time DESC
    limit #{beginPos,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

</mapper>