body {
  padding-top: 80px;
  padding-bottom: 40px;

}
.bgb{
  background-image: url("../pic/bgb.png");
  background-color: #191919;
}

.form-signin {
  max-width: 390px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  margin-bottom: 10px;
    max-width: 330px;
}

.form-signin .form-signin-heading{
    margin-bottom: 30px;
    color: RGB(255,255,255);
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
    margin-bottom: 10px !important;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sigin_container{
  width: 500px;
  height: 300px;
  padding: 45px 35px 35px 35px;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #e1e1e1;
  background-image: url("../pic/xw9.png");
}

.input_text{
  display: inline-block;
  margin-left: 0px;
}

.ico_container{
  width: 40px;
  height: 44px;
  display: inline-block;
  background-color: #dddddd;
  text-align: center;
  padding-top: 12px;
}


.field{
  padding-bottom: 30px;
  height: 44px !important;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}


.input_container{
  display: inline-block;
  margin-left: -3px;
  width: 386px;
}