.data-degree{
}

.date-degree-lable{
    display: inline-block;
}
.user-info{
    margin-left: 50px;
    margin-top: 80px;
    padding: 10px;
    border:1px solid #ccc;
}

.name{
    color: #259;
    font-size: 14px;
    font-weight: 700;
}

.ProfileEditCard-itemContent{
    width: 100px;
    text-align: right;
    font-weight: 400;
}


.myprogress{
    display: inline-block;
    width:600px;
    height: 60px;
}

.nameLable{
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
}

.returnIndex{
    float: right;
}

.user-title{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom:1px solid #eee;
}

.user-info-Lable{
    width: 100px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-right:30px ;
    vertical-align: top;
    text-align: right;
}
.user-pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.Input{
    padding: 8px 10px;
    color: inherit;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;

}
.user_submit{
    margin-top: 40px;
    text-align: center;
}
.Button{
    display: inline-block;
    padding: 4px 10px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    background: #1472cf;
    background: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
    background: linear-gradient(to bottom,#1d7fe2,#0865c2);
    border: 1px solid #0d6eb8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
    outline: 0;
    cursor: pointer;
}